{% extends 'base.html' %}

{%block content%}

<head>
    <style>
        .all{
            margin: 30px 350px 90px 350px;
        }
    </style>
</head>

<div class="all">
  <h3 style="text-align: center">О компании:</h3>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla vel dictum lorem. Etiam quis erat sit amet neque ornare aliquam.
    Nulla id turpis lacinia, blandit nisi non, pellentesque nunc. Donec efficitur eleifend ex, vitae feugiat ante finibus ut.
    Quisque hendrerit ut mauris in tristique. Curabitur mattis ipsum vitae semper efficitur.
    Integer finibus, lorem a dapibus aliquam, lectus orci porta dui, vitae ullamcorper enim purus non urna.

    Aliquam quis blandit felis. Fusce diam ex, laoreet sed tincidunt ut, commodo nec leo.
    Vestibulum imperdiet nec metus a luctus. Curabitur mi libero, sodales at lorem commodo, feugiat pellentesque urna.
    Nulla porttitor suscipit efficitur. Integer blandit vehicula nisl, sed pretium orci lacinia sed. Sed sit amet nunc nulla.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    Cras lobortis ligula eget diam elementum maximus. Cras sodales magna nisi, vehicula porttitor tortor aliquam at.
    Nullam justo lacus, pellentesque in velit in, vehicula rutrum libero. Etiam felis felis, fermentum non orci sit amet,
    ultrices euismod lectus. Aenean sit amet lectus turpis. Integer enim sem, auctor congue bibendum ac, posuere quis purus.
    Nulla nibh ipsum, sollicitudin vel finibus nec, tempor sed tortor.

    Nulla porttitor eros ac orci lacinia dictum. Duis nec pellentesque libero. Donec est tortor, venenatis id commodo vitae,
    commodo ac orci. Donec ac libero mi. Ut nec felis quis odio aliquet mollis. Nullam non mattis metus.
    Vestibulum rhoncus auctor placerat. Curabitur eu vehicula ex, non gravida nisl. Proin quis nibh in arcu hendrerit viverra.
    Nunc congue enim vel metus iaculis, eget dictum massa consequat. Maecenas ac quam et ligula pretium laoreet ac ac augue.</p>
</div>

{% endblock %}
